.addButton {
    width: 4rem;
    height: 4rem;
    font-size: 4rem;
}

.addButton:hover {
    opacity: 0.7; 
    cursor: pointer;
}

.box {
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 6rem;
    min-width: 21rem;
}